html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:rgb(117, 185, 190);
    margin: auto;
    max-width: 1000px;
}

h1, h2 {
    color: rgb(152, 114, 132);
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

p, li {
    font-size: 16px;
}

.razdelek {
    background-color: rgb(249, 181, 172);
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin: 20px;
}