html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:rgb(117, 185, 190);
    margin: auto;
    max-width: 1000px;
}

h1, h2 {
    color: rgb(118, 86, 101);
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;
}

p, li {
    font-size: 16px;
}

footer {
    text-align: center;
}

.razdelek {
    background-color: rgb(249, 181, 172);
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin: 20px;
}

button {
  background-color: rgb(118, 86, 101);
  margin: 5px;
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}